* {
    box-sizing: border-box;

}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

p {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: black;
}

/*div {
    background-color: gray;
    border: 2px black;
    text-align: center;
    margin:0mm;

} */
div {
    
    border: 2px solid black;
    padding: 20px;
    float: left;
      
}
div > p {
    float:right;
    margin-top: 0px;
    margin-bottom: 50px;    
    text-align: center;
    
}
.menugray {
    background-color: rgb(165, 160, 160);
    
    border-style: solid;
    width:600px;
    margin: 10Px;
    float:left;
    padding-right: 30px;
    
}

#topright1 {
    text-align: center;
    color: black;
    border: 2px solid black;
    background-color: pink;
    
    
} 
#topright2 {
    text-align: center;
    color: black;
    border: 2px solid black;
    background-color: red;
}
#topright3 {
    border-color: black;
    border-style: solid;
    border: 2px solid black;
    text-align: center;
    


    background-color: tan;
}