* {
    box-sizing: border-box;
}

body {
    font-size: 1.5rem;
    margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
    
}

p.thick {
    font-weight:bold;
}

.navbar { 
    background-color: rgb(173, 168, 163);
    height: 55px;
    border: 2px solid black;
    border-radius: 0%;
} 
#wow {
    color:rgb(7, 7, 7);
    margin-left: 0px;
}
.navbar a {
    font-size: 30px;
    font-weight: bold;
}


#chicken {
    
    margin: 10px;
    background-color: rgb(173, 168, 163);
    float: left;
    height: 1000px;
   
}

#beef {
    
    margin: 10px;
    background-color: rgb(173, 168, 163);
    float:left;
    
    
}

#sushi {
    
    margin: 10px;
    background-color: rgb(173, 168, 163);
    
    
    
    
}

.myspan {
    font-size: large;
    text-align: center;
    color:rgb(4, 0, 7);
    padding-bottom: 62px;
    
}

.grid-container {
    display: grid;
    grid-template-columns: auto ;
    grid-gap: 20px;
    background-color: #fff;
    padding: 10px;
  }

  h1 {
      font-weight: bolder;
      font-size: 25px;
  }
  h4 {
      font-weight: 900;
  }